.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(14, 14, 17, 0.9);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navbar__left {
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.navbar__right {
  display: flex;
  gap: 2rem;

  button {
    background: none;
    border: none;
    color: #9ca3af;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding-bottom: 4px;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 0;
      height: 2px;
      background: #ffffff;
      transition: width 0.3s ease;
    }

    &.active {
      color: #eaeaf0;
    }

    &.active::after {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar__left {
    font-size: 1.5rem;
  }

  .navbar__right {
    gap: 1rem;
  }

  .navbar__right button {
    font-size: 1rem;
  }
}
