@use "../../styles/variables" as v;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: #000;
}

.footer__text {
  font-family: v.$font-body;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  text-align: center;
}